# Web framework
Flask==3.0.0

# ORM for database operations
Flask-SQLAlchemy==3.1.1

# MySQL database driver
PyMySQL==1.1.0

# Firebase Admin SDK for authentication/authorization
firebase-admin==6.4.0

# For loading environment variables from .env
python-dotenv==1.0.1

# For running tests
pytest==8.2.1